{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}Login | BookStore{% endblock title %}

{% block content %}
<section id="form"><!--form-->
	<div class="container">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-1">
				<div class="login-form"><!--login form-->
					<h2>Login to your account</h2>
					<form method="post">
						{% csrf_token %}
						{{ form|crispy }}
						<button type="submit">Login</button>
					</form>
				</div><!--/login form-->
			</div>
		</div>
	</div>
</section><!--/form-->
{% endblock content %}
