{% extends 'base.html' %}

{% load i18n %}
{% load account %}


{% block title %}
    {% trans  'Password Reset' %}
{% endblock title %}



{% block content %}
    <h1> {% trans 'Password Reset' %} </h1>
    
    <p> {% trans 'Forgotten your password?  Enter your email address and we will send you an email to reset it' %} </p>

    <form action=" {% url 'account_reset_password' %} " method="post" class="password_reset">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value=" {% trans 'Reset Password' %} ">
    </form>
{% endblock content %}
