{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    {{book.title}}| BookStore
{% endblock title %}


{% block content %}
<section>
    <div class="container">
        <div class="row">
            
            
            <div class="col-sm-9 padding-right">
                <div class="product-details"><!--product-details-->
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img src=" {{book.cover.url}} " alt="">
                        </div>

                    </div>
                    <div class="col-sm-7">
                        <div class="product-information"><!--/product-information-->
                            <img src="  " class="newarrival" alt="">
                            <h2> {{book.title}} </h2>
                            <p>Book ID: {{book.id}}</p>
                            <span>
                                <span>NGN {{book.price}} </span>
                                <!--<label>Quantity:</label>-->
                                <form action=" {% url 'cart:cart_add' book.id %} " method="post">
                                    {% csrf_token %}
                                    {{quantity_form}}
                                    <button type="submit" class="btn btn-fefault cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        Add to cart
                                    </button>
                                </form>
                            </span>
                            <p><b>Availability:</b> In Stock</p>
                            <p><b>Condition:</b> New</p>
                            <p><b>Brand:</b> BookStore </p>
                            <a href=""><img src="images/product-details/share.png" class="share img-responsive" alt=""></a>
                        </div><!--/product-information-->
                    </div>
                </div><!--/product-details-->
                
                <div class="category-tab shop-details-tab"><!--category-tab-->
                    <div class="col-sm-12">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#reviews" data-toggle="tab">Reviews ( {{reviews.count}} )</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active in" id="reviews">
                            <div class="col-sm-12">

                                
                                {% for review in reviews %}
                                <ul>
                                    <li><a href=""><i class="fa fa-user"></i> {{review.reviewer}} </a></li>
                                    <li><a href=""><i class="fa fa-calendar-o"></i> {{review.date_created}} </a></li>
                                </ul>
                                <p> {{review.review}} </p>
                                <br>

                                {% endfor %}

                                <p><b>Write Your Review</b></p>

                                <form method="post">
                                    {% csrf_token %}
                                    <textarea name="review"></textarea>
                                    <button type="submit" class="btn btn-default pull-right"> Submit Review</button>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div><!--/category-tab-->
                
            </div>
        </div>
    </div>
</section>
{% endblock content %}
