{% extends 'base.html' %}


{% block title %}
    Payment| BookStore
{% endblock title %}


{% block content %}
<form>
    <!-- <script src="https://api.ravepay.co/flwv3-pug/getpaidx/api/flwpbf-inline.js"></script> -->
    <script src="https://checkout.flutterwave.com/v3.js"></script>
    <button type="button" onClick="payWithRave()">Pay Now</button>
</form>

<script>
    const publicKey = "{{publicKey}}";
    const tx_ref = " {{tx_ref}} ";
    const amount = " {{amount}} ";
    const telephone = " {{telephone}} " ;

    function payWithRave() {
            var x = getpaidSetup({
                PBFPubKey: 'FLWPUBK-d4f848d48c47da8f92e7508a327a9fa1-X',
                customer_email: "{{customer_email}}",
                amount: amount,
                customer_phone: telephone,
                currency: "NGN",
                txref: tx_ref,
                custom_title: "BookStore",
                onclose: function() {},
                callback: function(response) {
                    var txref = response.tx.txRef;
                    console.log("This is the response returned after a charge", response);
                    if (
                        response.tx.chargeResponseCode == "00" ||
                        response.tx.chargeResponseCode == "0"
                    ) {
                        window.location.href= " {% url 'payments:payment_successful' id %} " ;
                            // redirect to a success page
                    } else {
                        // redirect to a failure page.
                        window.location.href= " {% url 'payments:payment_unsuccessful' %} "
                    }
                    x.close();
                }
            });
        }

</script>
{% endblock content %}
