{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home | BookStore
{% endblock title %}


{% block content %}

<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1" class=""></li>
                        <li data-target="#slider-carousel" data-slide-to="2" class=""></li>
                    </ol>
                    
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>BOOK</span>STORE</h1>
                                <h2>THE SOURCE OF KNOWLEDGE</h2>
                                <p>No thief, however skillfull, can rob one of knowledge, and this is why knowledge is the best and safest treasure to acquire. -<i>L. Frank Baum</i> </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="{% static 'images/home/bookh1.jpeg' %}" class="girl img-responsive" alt="">
                                <!--<img src="images/home/pricing.png" class="pricing" alt="">-->
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>BOOK</span>STORE</h1>
                                <h2>THE SOURCE OF KNOWLEDGE</h2>
                                <p>Reading furnishes the mind only with materials of knowledge; it is thinking that makes what we read ours. <i>-John Locke</i> </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="{% static 'images/home/bookh2.jpeg' %}" class="girl img-responsive" alt="">
                                <!--<img src="images/home/pricing.png" class="pricing" alt="">-->
                            </div>
                        </div>
                        
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>BOOK</span>STORE</h1>
                                <h2>THE SOURCE OF KNOWLEDGE</h2>
                                <p> Confidence is ignorance. If you are feeling cocky, it's because there is something you don't know. <i>-Eoin Colfer</i> </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="{% static 'images/home/bookh3.jpeg' %}" class="girl img-responsive" alt="">
                                <!--<img src="images/home/pricing.png" class="pricing" alt="">-->
                            </div>
                        </div>
                        
                    </div>
                    
                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</section>

<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Genres</h2>
        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href=" {% url 'pages:home' %} "> All </a></h4>
                </div>
            </div>

            {% for genre in genres %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href=" {{genre.get_absolute_url}} "> {{genre.name}} </a></h4>
                </div>
            </div>
            {% endfor %}
                
        </div><!--/category-products-->
        
        <div class="shipping text-center"><!--shipping-->
            <img src="images/home/shipping.jpg" alt="">
        </div><!--/shipping-->
    
    </div>
</div>


<div class="features_items"><!--features_items-->
    <h2 class="title text-center">Features Books</h2>
    
    {% for book in books %}
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                    <div class="productinfo text-center">
                        <img src=" {{book.cover.url}} " alt=""book cover">
                        <h2> NGN {{book.price}} </h2>
                        <p> {{book.title}} </p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2> NGN {{book.price}} </h2>
                            <p> {{book.title}} </p>
                            <a href=" {{book.get_absolute_url}} " class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                    </div>
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href=" {% url 'wishlist:add_wishlistitem' book.id %} "><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
        

</div>



    <!-- <h1>Homepage</h1>
    {% if user.is_authenticated %}
    Hi {{ user.email }}!
    {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'account_login' %}">Log In</a>
    {% endif %} -->
{% endblock content %}
